@using EntityLayer.Concrete
@model List<About>


<h3>Hakkımızda</h3>
@foreach(var item in Model)
{
<p>@item.AboutDetails1</p>
<div class="read">
	<a href="/About/Index" class="btn btn-primary read-m">Devamını Oku</a>
</div>
}